<% layout('layouts/boilerplate') %>

<div style="margin-top: 10px; margin-left: -15px;">
<h1>Dashboard</h1>
</div>
        <div class="row rounded">
            
          <div class="column">
            <table>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Details</th>
                <th>Status</th>
                <th>Action</th>
              </tr>  
                <div class="bg-light mb-1 border-primary mt-3 rounded">
                    <% for(let student of applicant) {%>

                    
                    <h6 class="text-dark .bg-white">
            <tr class="border border-success" style="height:50px; width:20">
                <td class="border border-success" >
                    <%= student.id %>
                </td>
                <td class="border border-success">
                    <%= student.first_name %>
                </td>
                <td class="border border-success"><a class="link-primary" href="/application/<%= student.id %>">Details
                    </a>
                </td>               
                <td class="border border-success">
               <h5> 
                 <% const getStatus = () => {
                    let st;
                      if(student.approve[0] !== undefined) {
                      st =student.approve[0].status
                    } else {
                      st = "Incomplete"
                    }
                    return st;
                 }
                  %> 
                  
                  <%= getStatus() %> 
              
                </h5>
                </td>
                <td class="border border-success">
                  <button class="btn btn-warning"> Delete</button>
                </td>                
                <% } %>
            </tr>
            </table>
          </div>
        
        
        
        </div>
        