<% layout('layouts/boilerplate') %>

    <div style="overflow-x:auto;">
        <table style="width:100%" class="border border-success rounded">
            <tr class="border border-success">
                <h2 class="bg-light rounded p-2">
                    Dashboard
                </h2>
            </tr>
            <tr class="border border-success">
                <th class="border border-success">Student ID</th>
                <th class="border border-success">Name</th>
                <th class="border border-success">Full Application link</th>
            </tr>


            <tr>
                <div class="bg-light mb-1 border-primary mt-3">

                    <% for(let student of applicant) {%>

                        <h6 class="text-dark .bg-white">
            <tr class="border border-success">
                <td class="border border-success">
                    <%= student.id %>
                </td>
                <td class="border border-success">
                    <%= student.first_name %>
                </td>
                <td class="border border-success"><a class="link-primary" href="/application/<%= student.id %>"> See
                        Full Application
                    </a>
                    <% } %>
                </td>
            </tr>


            <!-- <div style="overflow-x:auto;">
                <table style="width:100%" class="border border-success rounded">
                    <tr class="border border-success">
                        <th class="border border-success">Full Application link</th>
                    </tr>


            </div> -->
        </table>
    </div>